<div class="container">
    <admin-nav></admin-nav>
    <alert></alert>

    <div class="row page-header">
        <div class="col-md-6">
            <h2>Группы</h2>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-success" [routerLink]="['/admin/group/edit', 0]">Добавить новую</a>
        </div>
    </div>

    <table class="table">
        <tr>
            <th style="width: 20px;"><input type="checkbox" disabled></th>
            <th>Группа</th>
            <th style="width: 200px;">Действия</th>
        </tr>
        <tr *ngFor="let group of groups">
            <td><input type="checkbox" disabled></td>
            <td><code>{{group.name}}</code></td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/admin/group/edit', group.id]">Редактировать</a>
                <a class="btn btn-danger btn-mini" (click)="currentGroup = group; modalDelete.show();">Удалить</a>
            </td>
        </tr>
    </table>
</div>

<app-modal #modalDelete>
    <div class="app-modal-header">
        <h2>Внимание</h2>
    </div>
    <div class="app-modal-body">
        Вы действительно хотите удалить группу?
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="currentGroup = null; modalDelete.hide()">Отмена</button>
        <button type="button" class="btn btn-danger" (click)="deleteGroup(currentGroup); modalDelete.hide();">Удалить</button>
    </div>
</app-modal>