<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Admin panel</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/admin']">Dashboard</a></li>
                <li><a [routerLink]="['/admin/users']">Users</a></li>
                <li><a [routerLink]="['/admin/groups']">Groups</a></li>
                <li><a [routerLink]="['/admin/roles']">Roles</a></li>
                <!--<li><a [routerLink]="['/admin/permissions']">Permissions</a></li>-->
                <li><a [routerLink]="['/admin/widgets']">Widgets</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Hello, {{user.username}}</a></li>
                <li><a [routerLink]="['/']">Frontend</a></li>
                <li><a [routerLink]="['/auth/logout']">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>