<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Frontend</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/']">Home</a></li>
                <li *ngIf="user"><a [routerLink]="['/widgets']">Widgets</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="!user">
                <li><a [routerLink]="['/auth/login']">Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="user">
                <li><a>Hello, {{user.username}}</a></li>
                <li *ngIf="isAdminLogged()"><a routerLink="/admin">Admin panel</a></li>
                <li><a [routerLink]="['/auth/logout']">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>