<div class="container">
    <admin-nav></admin-nav>
    <alert></alert>

    <form [formGroup]="widgetForm" (ngSubmit)="f.form.valid && saveWidget()" #f="ngForm" *ngIf="widget != null">

        <div class="page-header">
            <h2 *ngIf="widget.id">Редактировать виджет</h2>
            <h2 *ngIf="!widget.id">Добавить виджет</h2>
        </div>

        <!--
        <div class="form-group">
            <label><input type="checkbox" formControlName="enabled" [checked]="widget.enabled"> Enabled</label>
        </div>
        -->

        <div class="form-group">
            <label>Имя *</label>
            <input formControlName="name" type="text" class="form-control" required>
            <div *ngIf="formErrors.name" class="label label-danger">
                {{ formErrors.name }}
            </div>
        </div>

        <div class="form-group">
            <label>Код</label>
            <textarea formControlName="code" class="form-control" cols="20" rows="10"></textarea>
            <div *ngIf="formErrors.code" class="label label-danger">
                {{ formErrors.code }}
            </div>
        </div>

        <div class="form-group">
            <label>Группы</label>
            <select formControlName="groups" class="form-control" multiple size="6">
                <option *ngFor="let gr of groups" [value]="gr.id">{{ gr.name }}</option>
            </select>
            <div *ngIf="formErrors.groups" class="label label-danger">
                {{ formErrors.groups }}
            </div>
        </div>

        <div class="form-group">
            <label>Минимальная ширина *</label>
            <input formControlName="minWidth" type="number" class="form-control" required>
            <div *ngIf="formErrors.minWidth" class="label label-danger">
                {{ formErrors.minWidth }}
            </div>
        </div>
        <div class="form-group">
            <label>Минимальная высота *</label>
            <input formControlName="minHeight" type="number" class="form-control" required>
            <div *ngIf="formErrors.minHeight" class="label label-danger">
                {{ formErrors.minHeight }}
            </div>
        </div>

        <div class="form-group">
            <label>Максимальная ширина *</label>
            <input formControlName="maxWidth" type="number" class="form-control" required>
            <div *ngIf="formErrors.maxWidth" class="label label-danger">
                {{ formErrors.maxWidth }}
            </div>
        </div>
        <div class="form-group">
            <label>Максимальная высота *</label>
            <input formControlName="maxHeight" type="number" class="form-control" required>
            <div *ngIf="formErrors.maxHeight" class="label label-danger">
                {{ formErrors.maxHeight }}
            </div>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-default" (click)="cancel()">Отмена</button>
            <button type="submit" class="btn btn-success" [disabled]="!f.valid">Сохранить</button>
        </div>

    </form>

    <button type="button" class="btn btn-default" (click)="cancel()" *ngIf="!widget">Назад</button>

</div>
