<div class="container">
    <admin-nav></admin-nav>
    <alert></alert>

    <div class="row page-header">
        <div class="col-md-6">
            <h2>Виджеты</h2>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-success" [routerLink]="['/admin/widget/edit', 0]">Добавить новый виджет</a>
            <!--<a class="btn btn-primary" [routerLink]="['/admin/widgets/positions']">Расположение</a>-->
        </div>
    </div>

    <table class="table">
        <tr>
            <th style="width: 20px;"><input type="checkbox" disabled></th>
            <th>Виджет</th>
            <th style="width: 200px;">Действия</th>
        </tr>
        <tr *ngFor="let widget of widgets">
            <td><input type="checkbox" disabled></td>
            <td>{{widget.name}}</td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/admin/widget/edit', widget.id]">Редактировать</a>
                <a class="btn btn-danger btn-mini" (click)="currentWidget = widget; modalDelete.show();">Удалить</a>
            </td>
        </tr>
    </table>
</div>

<app-modal #modalDelete>
    <div class="app-modal-header">
        <h2>Внимание</h2>
    </div>
    <div class="app-modal-body">
        Вы действительно хотите удалить виджет?
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="currentWidget = null; modalDelete.hide()">Отмена</button>
        <button type="button" class="btn btn-danger" (click)="deleteWidget(currentWidget); modalDelete.hide();">Удалить</button>
    </div>
</app-modal>