<div class="container">

    <frontend-nav></frontend-nav>

    <alert></alert>

    <div class="row page-header">
        <div class="col-md-6">
            <h2>Widgets positions</h2>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-success" (click)="saveWidgetsOrder()" *ngIf="!widget">Save</button>
        </div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-md-4" *ngFor="let column of columns">
            <div class="panel panel-warning">
                <div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="column">
                    <div class="panel panel-default draggable" *ngFor="let item of column; let i = index" dnd-sortable [sortableIndex]="i">
                        <div class="panel-heading">{{item.name}}</div>
                        <div class="panel-body" [innerHTML]="item.code"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
