
<div class="container">
    <admin-nav></admin-nav>
    <alert></alert>

    <div class="row">
        <div class="col-xs-6 col-lg-4">
            <h2>Информация</h2>
            <p>Съешь ещё этих мягких французских булок, да выпей же чаю</p>
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
            <h2>Информация</h2>
            <p>Съешь ещё этих мягких французских булок, да выпей же чаю</p>
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
            <h2>Информация</h2>
            <p>Съешь ещё этих мягких французских булок, да выпей же чаю</p>
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
            <h2>Информация</h2>
            <p>Съешь ещё этих мягких французских булок, да выпей же чаю</p>
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
            <h2>Информация</h2>
            <p>Съешь ещё этих мягких французских булок, да выпей же чаю</p>
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
            <h2>Информация</h2>
            <p>Съешь ещё этих мягких французских булок, да выпей же чаю</p>
        </div><!--/.col-xs-6.col-lg-4-->
    </div>
</div>