<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Админпанель</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/admin']">Начало</a></li>
                <li><a [routerLink]="['/admin/users']">Пользователи</a></li>
                <li><a [routerLink]="['/admin/groups']">Группы</a></li>
                <li><a [routerLink]="['/admin/roles']">Роли</a></li>
                <!--<li><a [routerLink]="['/admin/permissions']">Права доступа</a></li>-->
                <li><a [routerLink]="['/admin/widgets']">Виджеты</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Привет, {{user.username}}</a></li>
                <li><a [routerLink]="['/']">На сайт</a></li>
                <li><a [routerLink]="['/auth/logout']">Выход</a></li>
            </ul>
        </div>
    </div>
</nav>