<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/']">Главная</a></li>
                <li *ngIf="user"><a [routerLink]="['/widgets']">Виджеты</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="!user">
                <li><a [routerLink]="['/auth/login']">Вход</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="user">
                <li><a>Привет, {{user.username}}</a></li>
                <li *ngIf="isAdminLogged()"><a routerLink="/admin">Админпанель</a></li>
                <li><a [routerLink]="['/auth/logout']">Выход</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>