<div class="container">
    <admin-nav></admin-nav>
    <alert></alert>

    <div class="row page-header">
        <div class="col-md-6">
            <h2>Пользователи</h2>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-success" [routerLink]="['/admin/user/edit', 0]">Добавить нового пользователя</a>
        </div>
    </div>

    <table class="table">
        <tr>
            <th style="width: 20px;"><input type="checkbox" disabled></th>
            <th>Имя пользователя</th>
            <th>Email</th>
            <th style="width: 200px;">Действия</th>
        </tr>
        <tr *ngFor="let user of users">
            <td><input type="checkbox" disabled></td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/admin/user/edit', user.id]">Редактировать</a>
                <a class="btn btn-danger btn-mini" (click)="currentUser = user; modalDelete.show();">Удалить</a>
            </td>
        </tr>
    </table>
</div>

<app-modal #modalDelete>
    <div class="app-modal-header">
        <h2>Внимание</h2>
    </div>
    <div class="app-modal-body">
        Вы действително хотите удалить пользователя?
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="currentUser = null; modalDelete.hide()">Отмена</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser(currentUser); modalDelete.hide();">Удалить</button>
    </div>
</app-modal>