<div class="container">
    <admin-nav></admin-nav>
    <alert></alert>

    <div class="row page-header">
        <div class="col-md-6">
            <h2>Роли</h2>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-success" [routerLink]="['/admin/role/edit', 0]">Добавить новую роль</a>
        </div>
    </div>

    <table class="table">
        <tr>
            <th style="width: 20px;"><input type="checkbox" disabled></th>
            <th>Роль</th>
            <th style="width: 200px;">Действия</th>
        </tr>
        <tr *ngFor="let role of roles">
            <td><input type="checkbox" disabled></td>
            <td><code>{{role.name}}</code></td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/admin/role/edit', role.id]">Редактировать</a>
                <a class="btn btn-danger btn-mini" (click)="currentRole = role; modalDelete.show();" style="display: none;">Удалить</a>
            </td>
        </tr>
    </table>
</div>

<app-modal #modalDelete>
    <div class="app-modal-header">
        <h2>Внимание</h2>
    </div>
    <div class="app-modal-body">
        Вы действительно хотите удалить роль?
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="currentRole = null; modalDelete.hide()">Отмена</button>
        <button type="button" class="btn btn-danger" (click)="deleteRole(currentRole); modalDelete.hide();">Удалить</button>
    </div>
</app-modal>