<div class="container">

    <frontend-nav></frontend-nav>

    <div class="jumbotron">
        <h1>Главная страница</h1>
        <p>(реальный контент появится позже)</p>
    </div>

    <alert></alert>

    <div class="row" *ngIf="currentUser">
        <div class="col-md-4" *ngFor="let column of widgetsColumns">
            <div *ngFor="let item of column;" class="widget">
                <div [innerHTML]="item.code"></div>
            </div>
        </div>
    </div>

</div>
