<div class="container">
    <admin-nav></admin-nav>
    <alert></alert>

    <form [formGroup]="userForm" (ngSubmit)="f.form.valid && saveUser()" #f="ngForm" *ngIf="user != null">

        <div class="page-header">
            <h2 *ngIf="user.id">Edit user</h2>
            <h2 *ngIf="!user.id">Add user</h2>
        </div>

        <div class="col-md-6">
            <md-input-container class="input-full-width">
                <input mdInput placeholder="Username" formControlName="username" required>
                <md-error *ngIf="formErrors.username">
                    {{ formErrors.username }}
                </md-error>
            </md-input-container>

            <md-input-container class="input-full-width">
                <input mdInput placeholder="Email" formControlName="email" required>
                <md-error *ngIf="formErrors.email">
                    {{ formErrors.email }}
                </md-error>
            </md-input-container>

            <md-input-container class="input-full-width">
                <input mdInput placeholder="Password" formControlName="password" type="password" [required]="!user.id">
                <md-error *ngIf="formErrors.password">
                    {{ formErrors.password }}
                </md-error>
            </md-input-container>
        </div>

        <div class="col-md-6">
            <br class="separator">

            <div class="mat-input-wrapper">
                <div class="mat-input-flex">
                    <md-select placeholder="Roles" class="input-full-width" required multiple formControlName="roles">
                        <md-option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</md-option>
                    </md-select>
                    <md-error *ngIf="formErrors.roles">
                        {{ formErrors.roles }}
                    </md-error>
                </div>
            </div>

            <br class="separator">

            <div class="mat-input-wrapper">
                <div class="mat-input-flex">
                    <md-select placeholder="Group" class="input-full-width" formControlName="group">
                        <md-option>(None)</md-option>
                        <md-option *ngFor="let gr of groups" [value]="gr.id">{{ gr.name }}</md-option>
                    </md-select>
                    <md-error *ngIf="formErrors.group">
                        {{ formErrors.group }}
                    </md-error>
                </div>
            </div>

        </div>

        <div class="col-md-12">
            <br class="toolbar">
            <md-toolbar>
                <button md-button type="button" (click)="cancel()">Cancel</button>
                <button md-raised-button [disabled]="!f.valid">Save</button>
            </md-toolbar>
        </div>

    </form>

    <button md-button (click)="cancel()" *ngIf="!user">Back</button>

</div>
