<div class="container">
    <admin-nav></admin-nav>
    <alert></alert>

    <div class="row page-header">
        <div class="col-md-6">
            <h2>Права доступа</h2>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-success" [routerLink]="['/admin/permission/edit', 0]">Добавить новую запись</a>
        </div>
    </div>

    <table class="table">
        <tr>
            <th style="width: 20px;"><input type="checkbox" disabled></th>
            <th>Имя</th>
            <th>Описание</th>
            <th style="width: 200px;">Действия</th>
        </tr>
        <tr *ngFor="let permission of permissions">
            <td><input type="checkbox" disabled></td>
            <td><code>{{permission.name}}</code></td>
            <td>{{permission.description}}</td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/admin/permission/edit', permission.id]">Редактировать</a>
                <a class="btn btn-danger btn-mini" (click)="currentPermission = permission; modalDelete.show();">Удалить</a>
            </td>
        </tr>
    </table>
</div>

<app-modal #modalDelete>
    <div class="app-modal-header">
        <h2>Внимание</h2>
    </div>
    <div class="app-modal-body">
        Вы действительно хотите удалить запись?
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="currentPermission = null; modalDelete.hide()">Отмена</button>
        <button type="button" class="btn btn-danger" (click)="deletePermission(currentPermission); modalDelete.hide();">Удалить</button>
    </div>
</app-modal>