<div class="container">
    <admin-nav></admin-nav>
    <alert></alert>

    <div class="row page-header">
        <div class="col-md-6">
            <h2>Widgets list</h2>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-success" [routerLink]="['/admin/widget/edit', 0]">Add new</a>
            <a class="btn btn-primary" [routerLink]="['/admin/widgets/positions']">Positions</a>
        </div>
    </div>

    <table class="table">
        <tr>
            <th style="width: 20px;"><input type="checkbox" disabled></th>
            <th>Widget</th>
            <th style="width: 200px;">Actions</th>
        </tr>
        <tr *ngFor="let widget of widgets">
            <td><input type="checkbox" disabled></td>
            <td>{{widget.name}}</td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/admin/widget/edit', widget.id]">Edit</a>
                <a class="btn btn-danger btn-mini" (click)="currentWidget = widget; modalDelete.show();">Delete</a>
            </td>
        </tr>
    </table>
</div>

<app-modal #modalDelete>
    <div class="app-modal-header">
        <h2>Warning</h2>
    </div>
    <div class="app-modal-body">
        Are you sure want to delete widget?
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="currentWidget = null; modalDelete.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteWidget(currentWidget); modalDelete.hide();">Delete</button>
    </div>
</app-modal>