<div class="container">
    <admin-nav></admin-nav>
    <alert></alert>

    <form [formGroup]="widgetForm" (ngSubmit)="f.form.valid && saveWidget()" #f="ngForm" *ngIf="widget != null">

        <div class="page-header">
            <h2 *ngIf="widget.id">Edit widget</h2>
            <h2 *ngIf="!widget.id">Add widget</h2>
        </div>

        <!--
        <div class="form-group">
            <label><input type="checkbox" formControlName="enabled" [checked]="widget.enabled"> Enabled</label>
        </div>
        -->

        <div class="form-group">
            <label>Name *</label>
            <input formControlName="name" type="text" class="form-control" required>
            <div *ngIf="formErrors.name" class="label label-danger">
                {{ formErrors.name }}
            </div>
        </div>

        <div class="form-group">
            <label>Code</label>
            <textarea formControlName="code" class="form-control" cols="20" rows="10"></textarea>
            <div *ngIf="formErrors.code" class="label label-danger">
                {{ formErrors.code }}
            </div>
        </div>

        <div class="form-group">
            <label>Groups</label>
            <select formControlName="groups" class="form-control" multiple size="6">
                <option *ngFor="let gr of groups" [value]="gr.id">{{ gr.name }}</option>
            </select>
            <div *ngIf="formErrors.groups" class="label label-danger">
                {{ formErrors.groups }}
            </div>
        </div>


        <div class="form-group">
            <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            <button type="submit" class="btn btn-success" [disabled]="!f.valid">Save</button>
        </div>

    </form>

    <button type="button" class="btn btn-default" (click)="cancel()" *ngIf="!widget">Back</button>

</div>
