<div class="container">
    <admin-nav></admin-nav>
    <alert></alert>

    <form [formGroup]="roleForm" (ngSubmit)="f.form.valid && saveRole()" #f="ngForm" *ngIf="role != null">

        <div class="page-header">
            <h2 *ngIf="role.id">Редактировать роль</h2>
            <h2 *ngIf="!role.id">Добавить роль</h2>
        </div>

        <div class="form-group">
            <label>Имя *</label>
            <input formControlName="name" type="text" class="form-control" required>
            <div *ngIf="formErrors.name" class="label label-danger">
                {{ formErrors.name }}
            </div>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-default" (click)="cancel()">Отмена</button>
            <button type="submit" class="btn btn-success" [disabled]="!f.valid">Сохранить</button>
        </div>

    </form>

    <button type="button" class="btn btn-default" (click)="cancel()" *ngIf="!role">Назад</button>

</div>
