<div class="container">
    <admin-nav></admin-nav>
    <alert></alert>

    <form [formGroup]="permissionForm" (ngSubmit)="f.form.valid && savePermission()" #f="ngForm" *ngIf="permission != null">

        <div class="page-header">
            <h2 *ngIf="permission.id">Edit permission</h2>
            <h2 *ngIf="!permission.id">Add permission</h2>
        </div>

        <div class="form-group">
            <label>Name *</label>
            <input formControlName="name" type="text" class="form-control" required>
            <div *ngIf="formErrors.name" class="label label-danger">
                {{ formErrors.name }}
            </div>
        </div>

        <div class="form-group">
            <label>Description</label>
            <input formControlName="description" type="text" class="form-control">
            <div *ngIf="formErrors.description" class="label label-danger">
                {{ formErrors.description }}
            </div>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            <button type="submit" class="btn btn-success" [disabled]="!f.valid">Save</button>
        </div>

    </form>

    <button type="button" class="btn btn-default" (click)="cancel()" *ngIf="!permission">Back</button>

</div>
