body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.draggable-widgets-column .draggable:hover,
.draggable-widgets-column .draggable:active {
  border: 2px dashed red;
}

div.widget {
  padding: 5px;
  background: #eee;
  border-radius: 6px;
  margin: 5px 0;
}

.input-full-width {
  width: 100% !important;
}


.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.draggable .panel-body {
  overflow: hidden;
}